<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>users</title>
</head>
<body>

{%for acc in accounts%}

<button onclick="createOrReturnPrivateChat('{{acc.id}}')";> {{acc}} </button>

<br><br><br>
{%endfor%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
function createOrReturnPrivateChat(id){
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"user2_id": id,
		}
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'get_room' %}", // production
			data: payload,
			timeout: 5000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] == "Successfully got the chat."){
					chatroomId = data['room_id']
					OnGetOrCreateChatroomSuccess(chatroomId)
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Something went wrong.")
			},
		});
	}


	function OnGetOrCreateChatroomSuccess(chatroomId){
        console.log(chatroomId);
			var url = "chat/room/"+ chatroomId
			window.location.pathname = url;
			// var win = window.location.replace(url)
			// for new tab
			// win.focus()
		}
	
        
    </script>
</body>
</html>